.header {
    width: 100%;    
    padding: 15px 0;
}

.header-content {
    height: 80px;
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: fit-content;
    margin: 0 auto;
    gap: 15px;
}

.header-content a {
    text-decoration: none;    
    display: block;
    text-align: center;
    color: #f3f3f3;
    font-size: 36px;    
}